#collection{
    width:100%;
    height:55rem;
    margin-top: 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.collection-column{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.collection-column>img{
    height: 15rem;
    width: 100%;;
}
