*{
    --deep-blue:#34b4eb;
    --light-blue:#34deeb;
}
#main{    
display: flex;
flex-direction: row;
position: relative;
margin-top: 28vh;
}
#xSign{
    width: 40%;
}
div#xSign img{
    float:right;
    width: 30vw;

}


#text{
    width:60%;    
    margin-top: 5vh;
    padding-left: 5vw;
    font-weight: 500;
    color:var(--deep-blue);
}

div>h1{
    font-size: 3vw;

}
div>h3{
    font-size: 2vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
div>h4{
    font-size: 1.2vw;
    margin-bottom: 1rem;
    font-weight: normal;
}
