*{
    --deep-blue:#34b4eb;
    --light-blue:#34deeb;
}
#main{    
display: flex;
flex-direction: row;
position: relative;
top:10rem;
}
#xSign{
    width: 40%;
}
div#xSign img{
    position: relative;
    top:10rem;
    float:right;
    width: 28.98rem;
    height:18rem;
}


#text{
    width:60%;    
    margin-top: 11rem;
    margin-left: 10rem;
    color:var(--deep-blue);
}

div>h1{
    font-size: 4rem;

}
div>h3{
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
div>h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
