/* GENERAL SETTING */
*{

    margin:0;
    padding: 0%;
    box-sizing: border-box;
    --deep-blue:#34b4eb;
    --light-blue:#34deeb;
    /* 
    1.cancel margin and padding 
    2.set box-sizing to include padding and maring 
    */
}


body{ 
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

    color:var(--deep-blue);
    /* 
    1. set base font size
    2. set font family and color
    */
}

li{
    list-style: none;
}


/* HEADER AREA */

a{
    color:#000;
    text-decoration: none;
}

nav a:hover {

    box-shadow:
    0px 2px var(--light-blue),
    0px 6px var(--deep-blue);

    line-height: 0.85;

  }
  


header {

    position: fixed;
    top:0;

    background-color:#eee;

    width: 100%;
    min-height: 75px;
    padding:0px 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 1  ;
}

@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }

#logo{
 
    width:60vw;
    padding:1rem 0 1rem 10rem;
    

    /* 
    1. set padding to adjust the child a tag position
    */
}

@media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }


#logo >a{
 

    font-size: 3rem;
    font-weight: 700;
    color:#34b4eb;
    text-decoration:none;
    text-shadow: 0.3rem 0rem var(--light-blue);

    
    justify-content: center;
    align-items: center;
    text-align: center;
    

}


nav{

}


@media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }


nav >ul{

    width:25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }


nav li{
    font-weight: 550;
    text-shadow: 0.09rem 0.09rem var(--light-blue);
}
nav li a{
    color:var(--deep-blue);
    text-decoration:none;
    font-weight: 500;
    font-size: 1.6rem;
}


/* FOOTER AREA */


#footer{

    position: fixed;
    bottom:0rem;
    /* sticky footer at bottom */
    width:100%;
    height: 5rem;
}
#footer> #light-blue-strip{
    background-color: var(--light-blue);
    height: 1rem;
}
#footer> #deep-blue-strip{
    height: 4rem;
    background-color: var(--deep-blue);
}