/* GENERAL SETTING */
*{

    margin:0;
    padding: 0%;
    box-sizing: border-box;
    /* 
    1.cancel margin and padding 
    2.set box-sizing to include padding and maring 
    */
}
html, body{ 
    font-size: 16px;
    font-family: 'Futura','Lato', sans-serif;
    --deep-blue:#34b4eb;
    --light-blue:#34deeb;
    color:var(--deep-blue);
    /* 
    1. set base font size
    2. set font family and color
    */
}


/* HEADER AREA */


header {
    position: fixed;
    top:0rem;
    /* 
    1. fix the header, make it sticky;
    2. make its relative position to top as 0; 
    */
    width: 100%;
    height:6rem;
    /*
    1.take up the whole width of parent; 
    2.set the height;
    */
    background-color: #eee;
    /*
    set color  
    */
    /* CHILD ELEMENT */
    display: flex;
    flex-direction: row;
    /* 
    1.make it flex model
    */
    z-index: 1  ;
}
#logo{
    width:40%;
    height:100%;
    padding:1rem 0 0 10rem;

    /* 
    1. set padding to adjust the child a tag position
    */
}
#logo >a{
    font-size: 2.5rem;
    font-weight: 700;
    color:#34b4eb;
    text-decoration:none;
    text-shadow: 0.3rem 0rem var(--light-blue);
    /* 
    1.cancel a tag default underline;
    */
}


/* NAV LINK AREA */


nav{
    width:60%;

}
nav >ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}
nav li{
    font-weight: 550;
    text-shadow: 0.09rem 0.09rem var(--light-blue);
    padding-top: 1.6rem;
    list-style: none;
    /* 
    1.set padding top to adjust child li tag position
    2.cancel default list dot in 
    */
}
nav li a{
    color:var(--deep-blue);
    text-decoration:none;
    font-weight: 500;
    font-size: 1.6rem;
}


/* FOOTER AREA */


#footer{

    position: fixed;
    bottom:0rem;
    /* sticky footer at bottom */
    width:100%;
    height: 5rem;
}
#footer> #light-blue-strip{
    background-color: var(--light-blue);
    height: 1rem;
}
#footer> #deep-blue-strip{
    height: 4rem;
    background-color: var(--deep-blue);
}