
*{
    --deep-blue:#34b4eb;
    --light-blue:#34deeb;
}
#main{
    display: flex;
    flex-direction: row;
    margin-top: 28vh;
}
#xSign{
    width:40%;
}

div#xSign img{
    float:right;
    width: 30vw;

}

#textArea{
    padding-top:3vh;
    padding-right:15vw;
    width: 60%;

}
#text{
    font-size: 1vw;
    line-height: 3vh;
    color:black;
}
    
#text span{
    color:#34deeb;
}
#Button{
    position: relative;
    top:10vh;
    left:0rem;
    color:white;
    background-color: #34b4eb;
    border-radius: 3vw;
    box-shadow: -0.3vw -0.3vw 0px 0px #34deeb;
    padding: 0.7vw 1.6vw;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4vw;
    cursor: pointer;
    z-index: 0;
    
}


@media screen and (max-width:1300px){
 
}