html, body{
    font-size: 16px;
    background-color: #75f8ff;
}

header{
    border:5px solid black;
}

div#logo{
    display:inline-block;
}

nav{
    display: inline-block;
}

li{
    list-style:none;
}

nav > ul{
    width:35vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}