
*{
    --deep-blue:#34b4eb;
    --light-blue:#34deeb;
    color:black;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
span{
    color:#34deeb;
    font-style: italic;
}

.container{
    margin:0;
    height: 100vh;
    display:grid;
    justify-items: stretch;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr 1fr auto;
    grid-template-areas: 
    "header"
    "logo"
    "text"
    "button"
    "footer";
}
/* auto is important as the height adjust to the content size(the text) */



.logo{
    margin-top: 5vh;
    grid-area:logo;

    
}
img{
    width:100%;
    max-width: 400px;
    height:auto;
}

.text{
    grid-area:text;
    text-align: justify;
 
    font-size: 1.5rem ;
    padding:0 15vw;
    
}
.button{

    grid-area:button;
    margin:2rem auto;
}
.button a{
    background-color: #34b4eb;
    border-radius: 3vw;
    box-shadow: -0.3vw -0.3vw 0px 0px #34deeb;
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 0;
}

.footer{
    
    grid-area:footer;
    min-height:50px;
    background-color: var(--deep-blue);
    border-top: 1rem solid var(--light-blue);
}



@media(min-width: 1500px){
        .container{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
            grid-template-areas: 
            "header header header header header"
            ".      .      .      .      . "
            "logo   logo   text   text   text"
            "logo   logo   button .      ."
            ".      .      .      .      . "
            "footer footer footer footer footer";
        }

        .logo{
            align-self: end;
            justify-self: end;
     
        }
        .text{
            justify-self: start;
            align-self: center;
            padding:0 15vw 0 5vw;
            font-size: 1.2rem;
            font-weight: 300;
        }
        span{
            font-size: 1.5rem;
        }
        img{
            height:100%;
            transition:transform 1s ease;   
            max-width:600px;
            width: auto;
            
        }
        img:hover{
            transform: rotate(360deg);
            
        }
        .button{
            
            align-self: end;
            justify-self:start;
            
        }
        .button a{
            transition: background-color 0.5s ease;
        }
        .button a:hover{
     
            background-color: hotpink;
     
        }
   
}












