*{
  --deep-blue:#34b4eb;
  --light-blue:#34deeb;
}
#main{
  display: flex;
  flex-direction: row;
  position: relative;
  top:10rem;
}
#xSign{
  width:40%;
}
div#xSign img{
  position: relative;
  top:10rem;
  float:right;
  width: 28.98rem;
  height:18rem;
}

#textArea{
  padding-top:11rem;
  padding-left:10rem;
  width: 60%;
}
#text{
  font-size: 1.1rem;
  line-height: 2rem;
  color:black;
}

  #collection{

    width:100%;
  
    margin-top: 25rem;
    margin-bottom:10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.collection-column{

    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.collection-column>img{
    height: 20vw;
    border:5px solid white;
}



@media screen and (max-width:1300px){

}